.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___title,
.fighter-preview__health,
.fighter-preview__attack,
.fighter-preview__defense {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 26px;
  font-family: 'Arial Black';
  font-weight: 700;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.fighter-preview__health,
.fighter-preview__attack,
.fighter-preview__defense {
  font-size: 20px;
}

.fighter-preview___right {
  align-items: flex-start;
}